@keyframes rotateit {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.spinerWhite,
.spinerBlue {
    width: 100px;
    height: 100px;
    position: relative;

    /*animation*/
    animation: rotateit 1.2s linear infinite;
}

.spinerWhite.circles div {
    background-color: white;
}

.spinerBlue.circles div {
    background-color: #3fbdf1;
}

.spinerWhite.circles div,
.spinerBlue.circles div {
    width: 10px;
    height: 20px;
    position: absolute;
    border-radius: 50%;

    top: 40px;
    left: 45px;
}

.spinerWhite.circles div:nth-child(1),
.spinerBlue.circles div:nth-child(1) {
    transform: rotate(0deg) translate(0, -30px);
    opacity: 0.8;
}

.spinerWhite.circles div:nth-child(2),
.spinerBlue.circles div:nth-child(2) {
    transform: rotate(45deg) translate(0, -30px);
    opacity: 0.7;
}

.spinerWhite.circles div:nth-child(3),
.spinerBlue.circles div:nth-child(3) {
    transform: rotate(90deg) translate(0, -30px);
    opacity: 0.6;
}

.spinerWhite.circles div:nth-child(4),
.spinerBlue.circles div:nth-child(4) {
    transform: rotate(135deg) translate(0, -30px);
    opacity: 0.5;
}

.spinerWhite.circles div:nth-child(5),
.spinerBlue.circles div:nth-child(5) {
    transform: rotate(180deg) translate(0, -30px);
    opacity: 0.4;
}

.spinerWhite.circles div:nth-child(6),
.spinerBlue.circles div:nth-child(6) {
    transform: rotate(225deg) translate(0, -30px);
    opacity: 0.3;
}

.spinerWhite.circles div:nth-child(7),
.spinerBlue.circles div:nth-child(7) {
    transform: rotate(270deg) translate(0, -30px);
    opacity: 0.2;
}

.spinerWhite.circles div:nth-child(8),
.spinerBlue.circles div:nth-child(8) {
    transform: rotate(315deg) translate(0, -30px);
    opacity: 0.1;
}

/*Loading Component*/
.LoaderPage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.LoaderPage .loadingText {
    color: #3fbdf1;
    font-family: monoRegular;
    font-size: 0.8em;
    text-align: center;
}

/*Nav bar of Auth user*/

.profilDatas {
    display: flex;
    gap: 10px;
}

.Identity {
    display: flex;
    flex-direction: column;
}

.Identity .name {
    font-family: poppinBlack;
    color: #226785;
    font-size: 0.9em;
}

.Identity .tel {
    font-family: monoRegular;
    font-size: 0.8em;
    color: #226785;
}

.profilImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*Cards of user*/
.containerCards {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.containerCards .Card {
    width: 250px;
    box-shadow: 0 0 2px #e3dfdf;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.containerCards .Card .ContainerPicture {
    width: 100%;
    height: 110px;
    border-radius: 5px;
    background: #f9f9fc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerCards .Card .ContainerPicture .ImageUser {
    width: 100%;
    height: 100%;
}

.Card .TextAppart {
    color: #226785;
    font-size: 0.8em;
    font-family: monoRegular;
}

.Card .cardDatas {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.Card .cardDatas .name {
    font-family: poppinBlack;
    color: #3fbdf1;
    font-size: 0.9em;
}

.Card .cardDatas .coordoUser {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #226785;
    font-family: monoRegular;
    font-size: 0.7em;
}

.Card .cardDatas .nameValue {
    font-weight: bold;
}

.Card .ContainerBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 10px 10px 0;
    gap: 10px;
}

.Card .Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 25px;
    background-color: #3fbdf1;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 #f9f9fc;
}
.Card .btnDeleted {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 25px;
    background-color: #f13f3f;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 #f9f9fc;
}

.Card .Icone {
    width: 20px;
    color: #fff;
}
@media screen and (max-width: 400px) {
    .Identity .name {
        font-size: 0.8em;
    }

    .Identity .tel {
        font-size: 0.7em;
    }

    .profilImg {
        width: 40px;
        height: 40px;
    }
}
