.main {
    background-color: #3fbdf1;
    font-family: monoBold;
    font-size: 1.5em;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icones {
    color: #c1c1c1;
    width: 25px;
    height: 25px;
    font-size: 0.9em;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
}

.icones:hover {
    color: #226785;
    transform: scale(1.01);
}

.Nav {
    padding: 20px 25px;
    width: 100%;
    height: fit-content;
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 4px 0 #e3dfdf;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

.Nav .logo {
    color: #3fbdf1;
    font-family: monoBold;
    font-size: 1.2em;
}

.Nav .loginBtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Nav .loginBtn .LogoutBtn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.Nav .loginBtn .toLoginPage {
    background-color: #3fbdf1;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    font-family: monoRegular;
    font-size: 0.8em;
    padding: 6px 15px;
    box-shadow: 0 0 4px 0 #e3dfdf;
}

.nameApp {
    color: white;
}

/*Small screens*/
.AllBtns {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.BtnHome,
.BtnLogin {
    background-color: #3fbdf1;
    padding: 12px 35px;
    text-decoration: none;
    font-size: 0.8em;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 #f9f9fc;
    color: white;
}

.BtnLogin {
    background-color: #e3dfdf;
    color: #0b212b;
}

.ContainerLeadingPage {
    padding: 0 20px;
    width: 100%;
    max-width: 1300px;
    height: 100vh;

    color: #226785;
    font-family: monoRegular;
    font-size: 0.8em;
}

.ContainerLeadingPage .Description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
}

.LeadingIllustrat {
    width: 45%;
    height: 200px;
    max-width: 450px;
}

.ContainerLeadingPage .HeadDescr {
    color: #226785;
    font-family: poppinBlack;
    font-size: 1.9em;
}

.foot {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    font-family: monoRegular;
}

.foot .footerDatas {
    display: flex;
    color: #226785;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 0.8em;
}

.foot .footerDatas .fIcones {
    color: #226785;
    width: 15px;
}
/*Mobile*/
@media screen and (max-width: 500px) {
    .ContainerLeadingPage {
        margin-top: 20vh;
        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: #226785;
        font-family: monoRegular;
        font-size: 0.8em;
    }
    .LeadingIllustrat {
        display: none;
    }

    .toLoginPage,
    .foot .footerDatas {
        display: none;
    }
    .foot {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerDatas:nth-child(3) {
        display: flex;
    }
}
/* large screen*/
@media screen and (min-width: 860px) {
    .Nav {
        padding: 15px 15%;
    }
    .ContainerLeadingPage {
        width: 80%;
        max-width: 1300px;
        height: 100vh;
        margin: auto;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ContainerLeadingPage .Description {
        flex-direction: column;
        display: flex;
        gap: 10px;
        height: 300px;
    }

    .LeadingIllustrat {
        width: 55%;
        max-width: 550px;
        height: 400px;
    }

    .BtnLogin,
    .BtnHome {
        padding: 8px 25px;
        text-decoration: none;
        border-radius: 2px;
    }

    .BtnLogin:hover,
    .BtnHome:hover {
        opacity: 0.7;
    }
}
