.ProfilPage {
    width: 80%;
    margin: auto;
    padding: 60px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.pagePath {
    font-family: monoRegular;
    color: #226785;
    font-size: 0.8em;
    position: fixed;
    left: 10%;
    top: 15vh;
}

.profilImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.DatasOfUser {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}

.DatasOfUser .containerDatas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.DatasOfUser .containerDatas .DesrcDatas {
    color: #226785;
    font-family: poppinRegular;
    font-size: 0.8em;
    font-weight: bold;
}

.DatasOfUser .containerDatas .valueOfDescr {
    color: #226785;
    font-family: monoRegular;
    font-size: 0.8em;
}
