/*Anim text*/
@keyframes AnimInfo {
    from {
        position: absolute;
        top: 40px;
        right: -200px;
    }

    to {
        position: absolute;
        top: 40px;
        right: 60px;
    }
}

/*Anim text*/
@keyframes AnimInfomobile {
    from {
        position: absolute;
        top: 100px;
        right: -200px;
    }

    to {
        position: absolute;
        top: 100px;
        right: 30px;
    }
}
.BgImg {
    width: 100%;
    height: 100vh;
    background-image: url('/img/splash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.BgImg .Logo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 80px;
    height: 100px;
}

.BgImg .Containeranimated .AnimatedText {
    width: 250px;
    background-color: #fff;
    color: #226785;
    display: flex;
    flex-direction: column;
    gap: 40x;
    padding: 10px;
    font-family: monoRegular;
    font-size: 0.8em;
    border-radius: 8px;
    box-shadow: 0 0 1px 0 #f9f9fc;
}

.BgImg .Containeranimated .iconeCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.BgImg .Containeranimated .icnExcls {
    width: 20px;
    color: white;
}

.BgImg .Containeranimated .callToAction {
    margin-top: 20px;
    color: #85222a;
    text-decoration: underline;
    font-style: italic;
}

.wrapperText {
    width: 100%;
    height: 65vh;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0) 100%
    );
    color: #fff;
}

.TextContainer .TitlePage {
    font-family: poppinBlack;
    font-size: 2em;
}

.TextContainer .Applist {
    font-family: monoRegular;
    font-size: 0.8em;
}

.BgImg .BtnsLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.BtnsLink a {
    font-family: monoRegular;
    padding: 10px 20px;
    color: #226785;
    text-decoration: none;
    border-radius: 2px;
}

.BtnsLink .activBtn {
    background-color: white;
}

.BtnsLink .loginBtn {
    color: white;
    border: solid 1px white;
}

/*Mobile*/
@media screen and (max-width: 500px) {
    .Containeranimated {
        position: absolute;
        top: 100px;
        right: 30px;
        animation: AnimInfomobile 5s ease-in-out;
    }
    .TextContainer .TitlePage {
        font-size: 1.8em;
    }
    .BgImg .Logo {
        position: absolute;
        top: 10px;
        left: 15px;
        width: 60px;
        height: 80px;
    }

    .BgImg .BtnsLink {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 40px;
    }

    .BtnsLink a {
        width: 80%;
        text-align: center;
    }
}

/* large screen*/
@media screen and (min-width: 860px) {
    .BtnsLink a:hover {
        opacity: 0.8;
    }
    .Containeranimated {
        position: absolute;
        top: 40px;
        right: 60px;
        animation: AnimInfo 5s ease-in-out;
    }
}
